{{- $image := .Param "image.research-section" -}}

<div class="features-5" style="background-image: url('{{ $image }}')">
    <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Candidates</h2>
        <h6 class="text-muted">Our research</h6>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <div class="info">
                    <div class="icon">
                        <i class="material-icons">autorenew</i>
                    </div>
                    <h4 class="info-title">Automation and Deploy</h4>
                    <p>///</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="info">
                    <div class="icon">
                        <i class="material-icons">question_answer</i>
                    </div>
                    <h4 class="info-title">Communication</h4>
                    <p>///</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="info">
                    <div class="icon">
                        <i class="material-icons">translate</i>
                    </div>
                    <h4 class="info-title">Content Management</h4>
                    <p>Image storage, file storage and backups, CMS and translate management.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="info">
                    <div class="icon">
                        <i class="material-icons">store</i>
                    </div>
                    <h4 class="info-title">E-commerce</h4>
                    <p>///</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="info">
                    <div class="icon">
                        <i class="material-icons">dashboard</i>
                    </div>
                    <h4 class="info-title">GUI</h4>
                    <p>///</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="info">
                    <div class="icon">
                        <i class="material-icons">search</i>
                    </div>
                    <h4 class="info-title">Search</h4>
                    <p>///</p>
                </div>
            </div>
        </div>
    </div>
</div>
