<div id="feedback" class="section section-contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h2 class="text-center title">Work with us</h2>
                <h4 class="text-center description">Do you have a business idea or proposal?
                    Just leave us a message, and we reply you as&nbsp;soon&nbsp;as&nbsp;possible.
                    We open to any commercial suggestions.</h4>
                {{- partial "proxy/forma" (dict "id" "629c995b-3dc1-4484-8e6c-f74007645bcd" "title" "Hugs feedback" "page" .) -}}
            </div>
        </div>
    </div>
</div>
