<div class="section section-contacts">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center title">Work with us</h2>
            <h4 class="text-center description">Divide details about your product or agency work into parts.
                Write a few lines about each one and contact us about any further collaboration.
                We will responde get back to you in a couple of hours.</h4>
            {{- partial "proxy/forma" (dict "id" "629c995b-3dc1-4484-8e6c-f74007645bcd" "title" "Hugs feedback" "page" .) -}}
        </div>
    </div>
</div>
