<div class="projects-3 section-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h6 class="category text-muted">Coming soon</h6>
                <h2 class="title">in the next big iteration</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 ml-auto">
                <div class="card card-plain">
                    <a>
                        <div class="card-header card-header-image">
                            <img src="img/octopus/partner.png">
                        </div>
                    </a>
                    <div class="card-body">
                        <h6 class="card-category">Advertising</h6>
                        <a>
                            <h4 class="card-title">Partner</h4>
                        </a>
                        <p class="card-description">
                            Manage your referrals.<br>
                            Show most relevant in your sites.<br>
                            Track and audit your traffic.<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mr-auto">
                <div class="card card-plain">
                    <a>
                        <div class="card-header card-header-image">
                            <img src="img/octopus/status.png">
                        </div>
                    </a>
                    <div class="card-body">
                        <h6 class="card-category">Monitoring</h6>
                        <a>
                            <h4 class="card-title">Status</h4>
                        </a>
                        <p class="card-description">
                            Check your site availability in different Geo zones.<br>
                            Healthcheck your services.<br>
                            Check resources and URLs on your site.<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 ml-auto">
                <div class="card card-plain">
                    <a>
                        <div class="card-header card-header-image">
                            <img src="img/octopus/octopus.png">
                        </div>
                    </a>
                    <div class="card-body">
                        <h6 class="card-category">Image storage</h6>
                        <a>
                            <h4 class="card-title">Octopus</h4>
                        </a>
                        <p class="card-description">
                            Manage your images.<br>
                            Resize on fly.<br>
                            Hotlink protection.<br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mr-auto">
                <div class="card card-plain">
                    <a>
                        <div class="card-header card-header-image">
                            <img src="img/octopus/sepia.png">
                        </div>
                    </a>
                    <div class="card-body">
                        <h6 class="card-category">Marketing</h6>
                        <a>
                            <h4 class="card-title">Sepia</h4>
                        </a>
                        <p class="card-description">
                            A/B Testing.<br>
                            DSL for traffic splitting.<br>
                            Tracking and analytics.<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
