{{- define "card" -}}
<div class="card card-plain">
    <a>
        <div class="card-header card-header-image">
            <img src="{{ .image }}">
        </div>
    </a>
    <div class="card-body">
        <h6 class="card-category">{{ .category }}</h6>
        <a>
            <h4 class="card-title">{{ .title }}</h4>
        </a>
        <p class="card-description">{{ .description | markdownify }}</p>
        <div class="vote">
            <button id="{{ .id }}" class="btn btn-info">
                <i class="far fa-star"></i> Like
            </button>
            <div class="d-none">
                <i class="fas fa-star"></i> Liked
            </div>
        </div>
    </div>
</div>
{{- end -}}

<div class="projects-3 section-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h6 class="category text-muted">Coming soon</h6>
                <h2 class="title">in the next big iteration</h2>
            </div>
        </div>
        <div class="row">
            {{- range $idx, $product := .Param "future" -}}
                {{- if modBool $idx 2 -}}
                <div class="col-md-5 offset-md-1">
                    {{- template "card" $product -}}
                </div>
                {{- else -}}
                <div class="col-md-5">
                    {{- template "card" $product -}}
                </div>
                {{- end -}}
            {{- end -}}
        </div>
    </div>
</div>
