{{- $image    := .Param "image.research-section" -}}
{{- $research := .Site.Data.research.marketplace -}}
{{- $repeat   := sub (math.Ceil (div (len $research) 3)) 1 -}}

{{- define "area" -}}
    {{- $ := .page -}}

    {{- with .context -}}
    <div class="row">
        {{- range . -}}
        <div class="col-sm-4">
                <div class="info">
                <div class="icon">
                    <i class="material-icons">{{ .icon }}</i>
                </div>
                <h4 class="info-title">{{ .title }}</h4>
                <p>{{ .description | markdownify }}</p>
                {{- with .candidates -}}
                {{ range . }}{{ partial "proxy/click" (dict "page" $ "id" .href "class" (.class | default "btn btn-primary btn-sm") "text" .name) }} {{ end }}
                {{- end -}}
            </div>
        </div>
        {{- end -}}
    </div>
    {{- end -}}
{{- end -}}

<div id="marketplace" class="features-5" style="background-image: url('{{ $image }}')">
    <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Marketplace</h2>
        <h6 class="text-muted">Products that will enhance your website</h6>
    </div>
    <div class="container">
        {{- with first 3 $research }}{{ template "area" (dict "page" $ "context" .) }}{{ end -}}
        {{- range seq $repeat -}}
            {{- with first 3 (after (mul . 3) $research) }}{{ template "area" (dict "page" $ "context" .) }}{{ end -}}
        {{- end -}}
    </div>
    <div class="container">
        <div class="col-md-8 ml-auto mr-auto text-center" style="border: none;">
            <h2 class="title">more soon</h2>
            <h6 class="text-muted">event API, webhooks, debugging and many others...</h6>
        </div>
    </div>
</div>
