<div class="section text-center">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Let&apos;s talk product</h2>
            <h5 class="description">Hugs provides you many benefits.</h5>
        </div>
    </div>
    <div class="features">
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-default">
                        <i class="material-icons">money_off</i>
                    </div>
                    <h4 class="info-title">Open Source</h4>
                    <p>It is free to use and can be hosted on<br>your infrastructure.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-success">
                        <i class="material-icons">lock</i>
                    </div>
                    <h4 class="info-title">HTTPS by default</h4>
                    <p>It allows you to use a secure connection without a headache.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-info">
                        <i class="material-icons">extension</i>
                    </div>
                    <h4 class="info-title">Expandable and flexible</h4>
                    <p>You can choose which services you want to use.</p>
                </div>
            </div>
        </div>
    </div>
</div>
