<div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h2 class="title">Let&apos;s talk product</h2>
                <h5 class="description">Hugs provides you many benefits.</h5>
            </div>
        </div>
        <div class="features">
            <div class="row">
                {{- range .Param "features" -}}
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon {{ .icon.color }}">
                            <i class="material-icons">{{ .icon.type }}</i>
                        </div>
                        <h4 class="info-title">{{ .title }}</h4>
                        <p>{{ .description | markdownify }}</p>
                    </div>
                </div>
                {{- end -}}
            </div>
        </div>
    </div>
</div>
