<div class="section section-roadmap">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h1 class="text-center">
                    Roadmap<br>
                    <i class="fas fa-road"></i>
                </h1>
                <div class="timeline">
                    <div class="block">
                        <div class="icon complete">
                            <i class="far fa-calendar-check"></i>
                        </div>
                        <div class="content">
                            <h2>Pre-alpha</h2>
                            <p>Integration of components is complete. Versions 1.x in active development.</p>
                        </div>
                    </div>
                    <div class="block">
                        <div class="icon">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="content">
                            <h2>Alpha</h2>
                            <p>Versions 1.x are complete. Versions 2.x in active development.</p>
                        </div>
                    </div>
                    <div class="block">
                        <div class="icon">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="content">
                            <h2>Beta</h2>
                            <p>Versions 2.x are complete. Versions 3.x in active development.</p>
                        </div>
                    </div>
                    <div class="block">
                        <div class="icon">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="content">
                            <h2><abbr title="Release Candidate">RC</abbr></h2>
                            <p>Versions 3.x are complete. A process of covering integration tests.</p>
                        </div>
                    </div>
                    <div class="block">
                        <div class="icon">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="content">
                            <h2><abbr title="Release to Marketing">RTM</abbr></h2>
                            <p>Integration tests are completed. Writing documentation and checking scaling.</p>
                        </div>
                    </div>
                    <div class="block">
                        <div class="icon">
                            <i class="fas fa-flag-checkered"></i>
                        </div>
                        <div class="content">
                            <h2><abbr title="Release to the Web">RTW</abbr>, <abbr title="Software as a service">SaaS</abbr></h2>
                            <p>Ready to use as self-hosted or in the cloud.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
