<div id="roadmap" class="section section-roadmap">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h1 class="text-center">
                    Roadmap<br>
                    <i class="fas fa-road"></i>
                </h1>
                <div class="timeline">
                    <div class="block">
                        <div class="icon {{- /* complete */}}">
                            <i class="far fa-calendar-alt {{- /* fa-calendar-check */}}"></i>
                        </div>
                        <div class="content">
                            {{- with `https://github.com/octolab/hugs/milestone/2` -}}
                                <h2>Pre-alpha, {{ partial "proxy/click" (dict "page" $ "id" . "text" "August 31") }}</h2>
                            {{- end -}}
                            <p>Integration of components is complete. Versions 1.x in active development.</p>
                            {{- with `https://github.com/octolab/hugs/projects/2` -}}
                                {{ partial "proxy/click" (dict "page" $ "id" . "class" "btn btn-info" "text" "Progress") }}
                            {{- end -}}
                        </div>
                    </div>
                    <div class="block">
                        <div class="icon">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="content">
                            {{- with `https://github.com/octolab/hugs/milestone/3` -}}
                                <h2>Alpha, {{ partial "proxy/click" (dict "page" $ "id" . "text" "September 30") }}</h2>
                            {{- end -}}
                            <p>Versions 1.x are complete. Versions 2.x in active development.</p>
                            {{- with `https://github.com/octolab/hugs/projects/3` -}}
                                {{ partial "proxy/click" (dict "page" $ "id" . "class" "btn btn-info" "text" "Progress") }}
                            {{- end -}}
                        </div>
                    </div>
                    <div class="block">
                        <div class="icon">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="content">
                            {{- with `https://github.com/octolab/hugs/milestone/4` -}}
                                <h2>Beta, {{ partial "proxy/click" (dict "page" $ "id" . "text" "October 31") }}</h2>
                            {{- end -}}
                            <p>Versions 2.x are complete. Versions 3.x in active development.</p>
                            {{- with `https://github.com/octolab/hugs/projects/4` -}}
                                {{ partial "proxy/click" (dict "page" $ "id" . "class" "btn btn-info" "text" "Progress") }}
                            {{- end -}}
                        </div>
                    </div>
                    <div class="block">
                        <div class="icon">
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <div class="content">
                            {{- with `https://github.com/octolab/hugs/milestone/5` -}}
                                <h2><abbr title="Release Candidate">RC</abbr>,
                                    {{ partial "proxy/click" (dict "page" $ "id" . "text" "November 30") }}</h2>
                            {{- end -}}
                            <p>Versions 3.x are complete. A process of covering integration tests.</p>
                            {{- with `https://github.com/octolab/hugs/projects/5` -}}
                                {{ partial "proxy/click" (dict "page" $ "id" . "class" "btn btn-info" "text" "Progress") }}
                            {{- end -}}
                        </div>
                    </div>
                    <div class="block">
                        <div class="icon">
                            <i class="fas fa-flag-checkered"></i>
                        </div>
                        <div class="content">
                            {{- with `https://github.com/octolab/hugs/milestone/6` -}}
                                <h2><abbr title="Release to the Web">RTW</abbr>, <abbr title="Software as a Service">SaaS</abbr>,
                                    {{ partial "proxy/click" (dict "page" $ "id" . "text" "December 31") }}</h2>
                            {{- end -}}
                            <p>Ready to use as self-hosted or in the Cloud.</p>
                            {{- with `https://github.com/octolab/hugs/projects/6` -}}
                                {{ partial "proxy/click" (dict "page" $ "id" . "class" "btn btn-info" "text" "Progress") }}
                            {{- end -}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
