<div class="section text-center">
    <h2 class="title">Here is our team</h2>
    <div class="team">
        <div class="row">
            <div class="col-md-4">
                <div class="team-player">
                    <div class="card card-plain">
                        <div class="col-md-6 ml-auto mr-auto">
                            <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y"
                                    alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <h4 class="card-title">No Name
                            <br>
                            <small class="card-description text-muted">Model</small>
                        </h4>
                        <div class="card-body">
                            <p class="card-description">You can write here details about one of your team members.
                                You can give more details about what they do. Feel free to add some <a href="#">links</a>
                                for people to be able to follow them outside the site.</p>
                        </div>
                        <div class="card-footer justify-content-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fab fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fab fa-instagram"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fab fa-facebook-square"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
