<div id="wip" class="alert alert-warning">
    <div class="container">
        <div class="alert-icon">
            <i class="material-icons">warning</i>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
        </button>
        <b>Important:</b> <strong>Hugs</strong> and its components in active development.
        We use it in production at our own risk.
    </div>
</div>
