{{- $image  := .Param "image.card-background" | default "img/bg/octopus.png" -}}
{{- $github := .Param "github" -}}
{{- $src    := index (index .Site.Data.url.find $github) "origin" -}}

<div class="card card-background" style="background-image:url('{{ $image }}')">
    <div class="card-body">
        {{- $text := printf `<h3 class="card-title">%s</h3>` .Title -}}
        {{- partial "proxy/click" (dict "page" . "id" $github "text" $text) -}}
        <p class="card-description">{{ .Description }}</p>
    </div>
</div>
<div class="github-vote text-center">
    <a class="github-button" href="{{ $src }}"
       data-icon="octicon-star" data-size="large"
       aria-label="Star {{ $github }} on GitHub">Star</a>
    <a class="github-button" href="{{ $src }}/subscription"
       data-icon="octicon-eye" data-size="large"
       aria-label="Watch {{ $github }} on GitHub">Watch</a>
    <a class="github-button" href="{{ $src }}/fork"
       data-icon="octicon-repo-forked" data-size="large"
       aria-label="Fork {{ $github }} on GitHub">Fork</a>
</div>
