{{ define "title" }}
    {{- .Title }} &mdash; {{ .Description -}}
{{ end }}

{{ define "analytics.async" }}
    {{- partial "src/analytics/head" . -}}
{{ end }}

{{ define "analytics.fallback" }}
    {{- partial "src/analytics/fallback" . -}}
{{ end }}

{{ define "styles" }}
    {{- partial "src/styles.default" . -}}
    <link rel="stylesheet" href="css/trix.css">
    <link rel="stylesheet" href="css/main.css">
{{ end }}

{{ define "content" }}
    {{- partial "content/home/promo" . -}}
    <div class="main main-raised">
        {{- partial "content/home/features" . -}}
        {{- partial "content/home/solutions" . -}}
        {{- partial "content/home/future" . -}}
        {{- partial "content/home/goods" . -}}
        {{- partial "content/home/candidates" . -}}
        {{- partial "content/home/roadmap" . -}}
        {{- partial "content/home/feedback" . -}}
        {{- partial "content/home/team" . -}}
        {{- partial "content/home/subscribe" . -}}
    </div>
{{ end }}

{{ define "scripts" }}
    {{- partial "src/scripts.default" . -}}
    {{- partial "src/scripts.uservoice" . -}}
    <script src="js/trix.js"></script>
    <script src="js/main.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
{{ end }}
