<nav id="navigation" class="navbar navbar-color-on-scroll navbar-expand-lg navbar-transparent bg-dark fixed-top">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="https://www.octolab.org/">
                <img src="img/logo/octolab.white.png" alt="OctoLab Open(src Source)">
            </a>
            <button type="button" class="ml-auto navbar-toggler" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div id="menu" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="#features" class="nav-link">Features</a></li>
                <li class="nav-item"><a href="#solutions" class="nav-link">Solutions</a></li>
                <li class="nav-item"><a href="#future" class="nav-link">Coming Soon</a></li>
                <li class="nav-item"><a href="#goods" class="nav-link">Goods</a></li>
                <li class="nav-item"><a href="#candidates" class="nav-link">Candidates</a></li>
                <li class="nav-item"><a href="#roadmap" class="nav-link">Roadmap</a></li>
                <li class="nav-item"><a href="#team" class="nav-link">Team</a></li>
            </ul>
        </div>
    </div>
</nav>
