{{- $id    := .id -}}
{{- $class := .class -}}
{{- $text  := .text | default (title $id) -}}

{{- with .page -}}
    {{- $config  := .Site.Params.click -}}
    {{- $enabled := index $config "enabled" | default false -}}
    {{- $proxy   := index $config "proxy"   | default "/goto" -}}
    {{- $live    := index $config "live" -}}
    {{- $url     := index .Site.Data.url.find $id | default (dict) -}}
    {{- $origin  := index $url "origin" | default $id -}}
    {{- $click   := index $url "click!" | default $origin -}}

    {{- $_has    := or (hasPrefix $click "http://") (hasPrefix $click "https://") -}}
    {{- $_pass   := print (cond $enabled (print $proxy "?") (print "/pass?")) (querify "url" $click) -}}
    {{- $base    := strings.TrimRight "/" (cond $enabled .Site.BaseURL $live) -}}
    {{- $path    := strings.TrimLeft  "/" (cond $_has $_pass $click) -}}

<a rel="noopener nofollow" title="{{ $origin }}"
{{- with $class }} class="{{ . }}"{{ end }} href="{{ $base }}/{{ $path }}">
    {{- $text | markdownify -}}
</a>
{{- end -}}

{{- define "powered-by/click" -}}
<span class="small text-monospace float-right">powered by {{ partial "proxy/click" (dict "page" . "id" "kamilsk/click" "text" "Click!") }}</span>
<br class="clearfix">
{{- end -}}
