{{- $id    := .id -}}
{{- $class := .class -}}
{{- $text  := .text | default (title $id) -}}

{{- with .page -}}
    {{- $config  := .Site.Params.click -}}
    {{- $enabled := index $config "enabled" | default false -}}
    {{- $proxy   := index $config "proxy" -}}
    {{- $service := index $config "service" -}}
    {{- $url     := index .Site.Data.url.find $id | default (dict) -}}
    {{- $origin  := index $url "origin" | default $id -}}
    {{- $click   := index $url "click!" | default $origin -}}
    {{- $direct  := index $url "direct" | default false -}}

    {{- /*
      %service%  e.g. https://click.127.0.0.1.xip.io
      %site%     e.g. https://127.0.0.1.xip.io/, https://octolab.github.io/hugs/
      %proxy%    /goto
      %pass%     /pass
      %alias%    hidden %uri%
      possible combinations:        | $enabled | $_has |
      - %service%/%alias%           | false    | false |
      - %service%/%pass%?url=%uri%  | false    | true  |
      - %site%/%proxy%/%alias%      | true     | false |
      - %site%/%proxy%?url=%uri%    | true     | true  |
    */ -}}
    {{- $_has := or (or (hasPrefix $click "http://") (hasPrefix $click "https://")) (hasPrefix $click "//") -}}
    {{- $base := strings.TrimRight "/" (cond $enabled .Site.BaseURL $service) -}}
    {{- $pass := print (cond $enabled (print $proxy "?") (print "/pass?")) (querify "url" $click) -}}
    {{- $path := strings.TrimLeft  "/" (cond $_has $pass (cond $enabled (print $proxy "/" $click) $click)) -}}

<a title="{{ $origin }}"
{{- with $class }} class="{{ . }}"{{ end -}}
{{- if $direct }} href="{{ $origin }}"{{ else }} href="{{ $base }}/{{ $path }}" rel="noopener nofollow"{{ end }}>
    {{- $text | safeHTML -}}
</a>
{{- end -}}

{{- define "powered-by/click" -}}
<span class="small text-monospace float-right">powered by {{ partial "proxy/click" (dict "page" . "id" "kamilsk/click" "text" "Click!") }}</span>
<br class="clearfix">
{{- end -}}
