{{- $id    := .id -}}
{{- $title := .title -}}

{{- with .page -}}
    {{- $config  := .Site.Params.forma -}}
    {{- $enabled := index $config "enabled" | default false -}}
    {{- $proxy   := index $config "proxy" -}}
    {{- $service := index $config "service" -}}

    {{- /*
      %service%  e.g. https://forma.127.0.0.1.xip.io
      %site%     e.g. https://127.0.0.1.xip.io/, https://octolab.github.io/hugs/
      %proxy%    /forma
      %api%      /api/v1
      %id%       form identifier
      possible combinations:  | $enabled |
      - %service%/%api%/%id%  | false    |
      - %site%/%proxy%/%id%   | true     |
    */ -}}
    {{- $base := strings.TrimRight "/" (cond $enabled .Site.BaseURL $service) -}}
    {{- $path := strings.TrimLeft  "/" (cond $enabled (print $proxy "/" $id) (print "/api/v1/" $id)) -}}

<form id="{{ $id }}" class="forma" lang="{{ .Site.Language.Lang }}" title="{{ $title }}"
    action="{{ $base }}/{{ $path }}"
    method="post" enctype="application/x-www-form-urlencoded">
    {{- partial (print "forma/" $id) (dict "page" . "id" $id) -}}
</form>
{{- end -}}

{{- define "powered-by/forma" -}}
<span class="small text-monospace float-right">powered by {{ partial "proxy/click" (dict "page" . "id" "kamilsk/forma" "text" "Forma") }}</span>
<br class="clearfix">
{{- end -}}
