img { max-width: 100%; }

footer .fa-heart { color: red; }

trix-editor.form-control { height: auto; }

.promo-page #header                   { border-radius: 0; margin-bottom: 0; }
.promo-page #header .navbar-brand img { height: 30px; }
.promo-page #header .ribbon img       { position: absolute; top: 0; right: 0; }
.promo-page #hero                     { background: url('../img/bg/octopus.png') top center; }
.promo-page .features.saas .info      { max-width: none; margin: 0 auto; padding: 10px 0 0; }
.promo-page .footer .patreon img      { height: 50px; }

#messages { position: fixed; top: 1rem; right: 1rem; z-index: 10; width: 40%; max-width: 512px; }

#home .footer .partner                { display: block; margin: 40px auto; text-align: center; }
#home .footer .digitalocean img       { width: 100%; }
#home .footer .patreon img            { width: 50%; margin-left: 14px; }
#home .footer .social-feed .feed-line { margin: .75em 0; }
#home .footer .social li              { display: list-item; }
#home .footer .social a               { padding-left: 0; }
#home .footer .social i               { margin-right: .2em; }
