<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="bmd-label-floating" for="41ca5e09-3ce2-4094-b108-3ecc257c6fa4_name">Your Name</label>
            <input id="41ca5e09-3ce2-4094-b108-3ecc257c6fa4_name" class="form-control"
                    name="name" type="text" maxlength="64" required>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="bmd-label-floating" for="41ca5e09-3ce2-4094-b108-3ecc257c6fa4_email">Your Email</label>
            <input id="41ca5e09-3ce2-4094-b108-3ecc257c6fa4_email" class="form-control"
                    name="email" type="email" maxlength="64" required>
        </div>
    </div>
</div>
<div class="form-group">
    <input id="41ca5e09-3ce2-4094-b108-3ecc257c6fa4_feedback" name="feedback" type="hidden" maxlength="5120" required>
    <trix-editor class="form-control" input="41ca5e09-3ce2-4094-b108-3ecc257c6fa4_feedback"></trix-editor>
    <span class="text-monospace float-right small">powered by <a href="/promo/forma/">Forma</a></span>
    <br class="clearfix">
</div>
<div class="row">
    <div class="col-md-4 ml-auto mr-auto text-center">
        <button class="btn btn-primary btn-raised" type="submit">Send Message</button>
    </div>
</div>
