{{- $id := .id -}}

{{- with .page -}}
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="bmd-label-floating" for="{{ $id }}_name">Your Name</label>
            <input id="{{ $id }}_name" class="form-control"
                   name="name" type="text" maxlength="64" required>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="bmd-label-floating" for="{{ $id }}_email">Your Email</label>
            <input id="{{ $id }}_email" class="form-control"
                   name="email" type="email" maxlength="64" required>
        </div>
    </div>
</div>
<div class="form-group">
    <input id="{{ $id }}_feedback" name="feedback" type="hidden" maxlength="5120" required>
    <trix-editor class="form-control" input="{{ $id }}_feedback"></trix-editor>

    {{- /* template "powered-by/forma" */ -}}
    <span class="small text-monospace float-right">powered by <a href="/promo/forma/">Forma</a></span>
    <br class="clearfix">

</div>
<div class="row">
    <div class="col-md-4 ml-auto mr-auto text-center">
        <button class="btn btn-primary btn-raised" type="submit">
            <i class="material-icons">email</i> Send Message
        </button>
    </div>
</div>
{{- end -}}
