{{- if findRE "127.0.0.1|localhost" .Site.BaseURL -}}{{- /* TODO .Site.IsServer */ -}}
<script>
(function (scope) {
    'use strict';

    scope.ga = function (action, fieldsObject) {
        console.log(action, fieldsObject);
    }
}(window));
</script>
{{- end -}}
<script>
(function ($, sender) {
    'use strict';

    function send($el) {
        sender('send', {
            hitType: 'event',
            eventCategory: 'Feature Request',
            eventAction: $el.data('state'),
            eventLabel: $el.data('title') + ':' + $el.attr('id'),
            eventValue: 1,
        });
    }
    $('#future .vote').click(function () { send($(this)); });
}(window.jQuery, window.ga));
</script>
