{{- if findRE "127.0.0.1|localhost" .Site.BaseURL -}}{{- /* TODO .Site.IsServer */ -}}
<script>
(function (scope) {
    'use strict';

    scope.gtag = function (_, action, fieldsObject) {
        console.log(action, fieldsObject);
    }
}(window));
</script>
{{- end -}}
<script>
(function ($, sender) {
    'use strict';

    function send($el) {
        sender('event', $el.data('state'), {
            'event_category': 'Feature Request',
            'event_label': $el.data('title') + ':' + $el.attr('id'),
            'value': 1,
        });
    }
    $('#future .vote').click(function () { send($(this)); });
}(window.jQuery, window.gtag));
</script>
