{{- $company  := index .Site.Data.company.find .Site.Params.company.id -}}

<footer class="footer footer-big">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-3">
                    <h5>Startup School Member</h5>
                    <img src="/img/logo/startup_school.svg" alt="Startup School">
                </div>
                <div class="col-md-3">
                    {{- with index .Site.Data.partner.find "patreon" -}}
                    {{- $text := printf "![Patreon](%s)" .logo.black.src | markdownify -}}
                    <h5>Feel free to support us at {{ partial "proxy/click" (dict "page" $ "id" .href "class" .id "text" $text) }}</p>
                    {{- end -}}
                </div>
                <div class="col-md-3 offset-md-1">
                    <h5>Latest releases</h5>
                    <div class="social-feed">
                        {{- range .Site.Data.release.latest -}}
                        <div class="feed-line">
                            <i class="{{ .version.icon }}"></i> <strong>{{ .project }}</strong>
                            version {{ partial "proxy/click" (dict "page" $ "id" .version.href "text" .version.text) -}}
                        </div>
                        {{- end -}}
                    </div>
                </div>
                {{- with $company.social -}}
                <div class="col-md-2">
                    <h5>Follow us at</h5>
                    <ul class="social">
                        {{- range . -}}
                        <li>
                            {{- $class := "btn btn-link btn-social" -}}
                            {{- $text  := printf `<i class="%s"></i> %s` .icon .title -}}
                            {{- partial "proxy/click" (dict "page" $ "id" .url "class" $class "text" $text) -}}
                        </li>
                        {{- end -}}
                    </ul>
                </div>
                {{- end -}}
            </div>
        </div>

        <span class="small text-monospace float-left">built with {{ partial "proxy/click" (dict "page" $ "id" "octolab/hugs" "text" "Hugs") }},
            validated by {{ partial "proxy/click" (dict "page" $ "id" "kamilsk/check" "text" "check") }} tool,
            hosted on {{ partial "proxy/click" (dict "page" $ "id" "https://pages.github.com/" "text" "GitHub Pages")}}
        </span>
        {{- partial "powered_by/click" . -}}

        <hr>
        <div class="row">
            <div class="col-md-3">
                <ul>
                    {{- range .Site.Menus.home_footer -}}
                        {{- if $.IsMenuCurrent "home_footer" . -}}
                            <li class="active"><a>{{ .Pre }} {{ .Name }}</a></li>
                        {{- else -}}
                            <li><a href="{{ .URL | relLangURL }}">{{ .Pre }} {{ .Name }}</a></li>
                        {{- end -}}
                    {{- end -}}
                </ul>
            </div>
            <div class="col-md-6">
                <div class="copyright text-center">
                    {{- with index .Site.Data.partner.find "creative_tim" -}}
                    <p>Template {{ partial "proxy/click" (dict "page" $ "id" .products.material_kit_pro.href "text" .products.material_kit_pro.title) }}
                       is provided by {{ partial "proxy/click" (dict "page" $ "id" .href "text" .name) }}
                       <i class="fas fa-heart"></i>
                    </p>
                    {{- end -}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="copyright float-right">{{ now.Year }} &copy; {{ .Site.Copyright | markdownify }}</div>
            </div>
        </div>
    </div>
</footer>
