<footer class="footer">
    <div class="container">
        {{- with index .Site.Data.partner.find "patreon" -}}
        <p>Feel free to support us at<br>
           {{- $text := printf "![Patreon](%s)" .logo.black.src | markdownify -}}
           {{- partial "proxy/click" (dict "page" $ "id" .href "class" .id "text" $text) -}}
        </p>
        {{- end -}}
        {{- with index .Site.Data.partner.find "creative_tim" -}}
        <p>Template {{ partial "proxy/click" (dict "page" $ "id" .products.material_kit.href "text" .products.material_kit.title) }}
           is provided by {{ partial "proxy/click" (dict "page" $ "id" .href "text" .name) }}
           <i class="fas fa-heart"></i>
        </p>
        {{- end -}}
    </div>
</footer>
