<!-- disable until done
- https://github.com/kamilsk/passport/issues/19
- https://github.com/kamilsk/passport/issues/24
<script src="https://passport.127.0.0.1.xip.io/vendor/jquery.min.js"></script>
<script src="https://passport.127.0.0.1.xip.io/vendor/fingerprint2.min.js"></script>
<script src="https://passport.127.0.0.1.xip.io/api/v1/tracker/instruction"></script>
-->
<script src="vendor/js/core/jquery.min.js"></script>
<script src="vendor/js/core/popper.min.js"></script>
<script src="vendor/js/core/bootstrap-material-design.min.js"></script>
<script src="vendor/js/material-kit.min.js"></script>
