<div class="section text-center">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Let&apos;s talk product</h2>
            <img src="img/octopus/click.png" alt="octopus character">
        </div>
    </div>

    <div class="features">
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-info">
                        <i class="material-icons">assessment</i>
                    </div>
                    <h4 class="info-title">Track Your Followers</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="material-icons">account_balance_wallet</i>
                    </div>
                    <h4 class="info-title">Earn Money</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-success">
                        <i class="material-icons">bookmark</i>
                    </div>
                    <h4 class="info-title">Store Your Favorites</h4>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="section">
    <div class="features saas">
        <div class="row">
            <div class="col-md-6">
                <div class="phone-container">
                    <img src="img/box/click.png">
                </div>
            </div>
            <div class="col-md-6">
                <h2 class="title"><abbr title="Software as a Service">SaaS</abbr> is coming soon</h2>
                <div class="info info-horizontal">
                    <div class="icon icon-primary">
                        <i class="material-icons">extension</i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Make your links "clicky"!</h4>
                        <p>...</p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-primary">
                        <i class="material-icons">monetization_on</i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Save your money</h4>
                        <p>...</p>
                    </div>
                </div>
                <div class="info info-horizontal">
                    <div class="icon icon-primary">
                        <i class="material-icons">watch_later</i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Save your time</h4>
                        <p>...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
